PORT=3000

# MongoDB local en Docker (make up)
MONGODB_URI=mongodb://mongo:27017/ordenalink?replicaSet=rs0&directConnection=true
# MongoDB Atlas (make up-atlas)
# MONGODB_URI=mongodb+srv://USER:PASS@HOST/ordenalink?retryWrites=true&w=majority

JWT_SECRET=cambia-esto
GOOGLE_CLIENT_ID=
